body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: sans-serif;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --tytle-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --fill-space-color: #f5f4fa;
  --bcg-space-color: #2f303a;
  --fill-icon-color: #AFB1B8;
  --border-check-color: rgba(117, 117, 117, 1);
  --border-color: rgba(33, 33, 33, 1);
  --placeholder-color: rgba(117, 117, 117, 0,5);
  --text-link-color: rgba(33, 150, 243, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0%;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  margin: 0 auto;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0%;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0);
    border-radius: 0;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0);
    border-radius: 0;
  }
  100% {
    transform: rotate(360deg);
  }
}
button {
  cursor: pointer;
}

.section {
  padding: 94px 0;
}

.logo {
  padding: 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-part {
  color: var(--tytle-text-color);
  margin-right: 93px;
}
.logo-part-inverse {
  color: var(--primary-white-color);
}
.logo:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-animation-name: rotator;
          animation-name: rotator;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.btn__portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--fill-space-color);
  color: var(--tytle-text-color);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__portfolio:hover,
.btn__portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-follow {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
  margin-right: 0%;
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero__btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0% auto;
  padding: 0% 15px;
}

.section__title {
  margin: 0%;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tytle-text-color);
}

.soc {
  margin: 0 auto;
}
.soc__list {
  display: flex;
  width: 206px;
  justify-content: space-between;
  padding: 0%;
  margin: 0 32px;
}
.soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--fill-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.checkbox {
  display: flex;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--border-check-color);
  font-size: 14px;
  line-height: 2;
}
.checkbox a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-link-color);
  margin-left: 5px;
}
.checkbox__area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}
.checkbox__properties {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid var(--border-color);
  border-radius: 20%;
  width: 16px;
  height: 15px;
}
.checkbox__properties:checked {
  border: transparent;
  background-color: var(--accent-color);
}
.checkbox__icon {
  position: absolute;
  left: 0%;
  top: 0%;
  fill: var(--primary-white-color);
  border-radius: 20%;
}

.survey {
  display: flex;
  flex-direction: column;
}
.survey__item {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: ver(--border-check-color);
  margin-top: 10px;
  margin-bottom: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.survey__icon-area {
  position: relative;
}
.survey__data-user {
  padding: 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.survey__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.survey__data-user:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.survey__icon-area:focus-within {
  fill: var(--accent-color);
}
.survey__textarea {
  display: block;
  resize: none;
  border-radius: 4px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.survey__textarea::-moz-placeholder {
  color: var(-placeholder-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.survey__textarea:-ms-input-placeholder {
  color: var(-placeholder-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.survey__textarea::placeholder {
  color: var(-placeholder-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.survey__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  padding: 18px 15px 19px 15px;
}

.navigation {
  display: flex;
  margin: 0 0 0 0;
  padding: 0%;
  align-items: center;
}
.navigation__list {
  display: flex;
  padding: 0%;
  margin: 0%;
  gap: 48px;
}
.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tytle-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 34px 2px;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.connect {
  margin-left: auto;
}
.connect__list {
  display: flex;
  gap: 30px;
}
.connect__mail, .connect__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}
.connect__mail:hover, .connect__mail:focus, .connect__phone:hover, .connect__phone:focus {
  color: var(--accent-color);
}
.connect__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  display: flex;
  background-color: var(--bcg-space-color);
  text-align: center;
  min-height: 600px;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcgstudio.jpg);
}
.hero__title {
  max-width: 1600px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 696px;
}

.about {
  padding-bottom: 0;
}
.about__list {
  margin: 0%;
  padding: 0%;
  display: flex;
  gap: 30px;
}
.about__background {
  background-color: var(--fill-space-color);
  padding: 25px 100px 15px;
  margin-bottom: 30px;
}
.about__title {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tytle-text-color);
}
.about__icon {
  height: 70px;
  width: 70px;
}

.work__title {
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  margin: 0%;
  padding: 0%;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__subscription {
  padding: 27px 0 27px 0;
  margin: 0%;
  left: 0%;
  bottom: 0%;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--fill-space-color);
}
.team__title {
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  margin: 0%;
  padding: 0%;
  gap: 30px;
}
.team__item {
  padding-bottom: 30px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__user {
  margin: 50px 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tytle-text-color);
}
.team__text {
  margin: 0%;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.client {
  padding: 84px 0 94px 0;
}
.client__title {
  margin-bottom: 50px;
}
.client__list {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0%;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--fill-icon-color);
  border-radius: 5px;
  width: 170px;
  height: 92px;
  fill: var(--fill-icon-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  background-color: rgb(47, 48, 58);
  padding: 60px 0;
}
.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__addres {
  margin: 20px 0 0 0;
  padding: 0%;
}
.footer__addres-item + .footer__addres-item {
  margin-top: 9px;
}
.footer__addres-link {
  color: rgb(255, 255, 255);
  font-style: normal;
}
.footer__addres-mail, .footer__addres-phone {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__addres-mail:hover, .footer__addres-mail:focus, .footer__addres-phone:hover, .footer__addres-phone:focus {
  color: var(--accent-color);
}

.footer__soc {
  margin-left: 88px;
}
.footer__soc-title {
  margin: 0%;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.footer__soc-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.footer__soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__soc-link:hover, .footer__soc-link:focus {
  background-color: var(--accent-color);
}
.footer__soc-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.footer__follow {
  margin-left: 93px;
}
.footer__follow-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0;
  padding: 0%;
  margin-bottom: 20px;
}
.footer__follow-item {
  display: flex;
  align-items: center;
}
.footer__follow-input {
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  min-width: 358px;
  padding: 15px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__follow-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.footer__follow-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.portfolio__list {
  margin: 0%;
  padding: 0%;
}
.portfolio__buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
.portfolio__positioning {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  gap: 30px;
}
.portfolio__thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.portfolio__thumb-text {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0%;
  display: block;
  background-color: rgba(33, 150, 243, 0.9);
  background-size: 370px 294px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__thumb-text {
  transform: translateY(0);
}
.portfolio__item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.portfolio__item-description {
  border: 1px solid rgb(238, 238, 238);
}
.portfolio__item-title {
  margin: 20px 0 4px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tytle-text-color);
}
.portfolio__item-text {
  margin: 0 0 20px 24px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: 1px solid var(--fill-space-color);
  background-color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.modal__icon-close {
  width: 11px;
  height: 11px;
  color: var(--tytle-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon-close:hover, .modal__icon-close:focus {
  fill: var(--accent-color);
}
.modal-title {
  display: block;
  text-align: center;
  margin: 0%;
  padding: 0%;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tytle-text-color);
}

.btn-modal {
  padding: 10px 52px;
  background-color: var(--accent-color);
  max-width: 200px;
  margin: 30px auto 0;
  border-radius: 4px;
  color: var(--primary-white-color);
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover, .btn-modal:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset !important;
}

.footer input:-webkit-autofill {
  box-shadow: 0 0 0 30px rgb(47, 48, 58) inset !important;
}

.footer input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}/*# sourceMappingURL=main.css.map */