.footer {
    background-color: rgba(47, 48, 58, 1);
    padding: 60px 0;
    &__container{
      display: flex;
      // align-items: baseline;
      // @include mobile{
        flex-direction: column;
        gap: 60px;
        align-items: center;
      // }
      @include tablet{
        // gap: 60px 165px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 76px;
        padding-right: 89px;
      }
      @include desktop{
        flex-wrap: nowrap;
        gap: 70px;
        align-items: baseline;
        padding-left: 0;
        padding-right: 0;
       }
       
    }
    &__title{
      text-align: center;
      margin: 0%;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.18;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-white-color);
      @include desktop{
        text-align: start;
       }
    }
  }
  .footer__connect-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop{
      align-items: flex-start;
     }
  }
  .footer__addres {
    margin: 20px 0 0 0;
    padding: 0%;
    &-item + &-item{
      margin-top: 8px;
    }
    &-link {
      color: rgba(255, 255, 255, 1);
      font-style: normal;
    }
    &-mail,
    &-phone {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    &-mail:hover,
    &-mail:focus,
    &-phone:hover,
    &-phone:focus {
      
      color: var(--accent-color);
    }
    @include mobile{
    text-align: center;
    }
    @include desktop{
      text-align: start;
      min-width: 231px;
     }
  }

  

  

 