
 .button{
  font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__hero{
      padding: 10px 24px;
      font-weight: 700;
      line-height: 1.88;
      letter-spacing: 0.06em;
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
      }
    }
    &__follow{
      font-weight: 700;
      line-height: 1.88;
      letter-spacing: 0.06em;
      display: flex;
      align-items: center;
      padding: 10px 28px;
      margin-left: 12px;
      background-color: var(--accent-color);
      color: rgba(255, 255, 255, 1);
      margin-right: 0%;
      border-radius: 4px;
    }
    &__portfolio{
      padding: 6px 22px;
      background-color: var(--fill-space-color);
      color: var(--tytle-text-color);
      border-radius: 4px;
      &:hover,
      &:focus{
          color: var(--primary-white-color);
          background-color: var(--accent-color);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
          0px 1px 2px rgba(0, 0, 0, 0.08), 
          0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
 }
 .mobile__button{
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  padding: 0%;
  @include tablet{
    display: none;
  }
  @include desktop{
    display: none;
  }
 }