.checkbox{
    display: flex;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    @include desktop{
     justify-content: center;
     font-size: 14px;
     }
  
  
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  color: var(--border-check-color);
  
 

    & a{
    
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.03em;
      
        color: var(--text-link-color);
        margin-left: 5px;
        @include desktop{
          font-size: 14px;
        }
      }
      &__area{
        position: relative;
        display: flex;
        justify-content: center;
      align-items: center;
      margin-right: 7px;
      }
      &__properties{
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.03em;
      
      z-index: 1;
      
        appearance: none;
        border: 2px solid var(--border-color);
        border-radius: 20%;
        width: 16px;
        height: 15px;
        &:checked {
          border: transparent;
          z-index: 0;
          background-color: var(--accent-color);
        }
    
      }
      
      &__icon{
        position: absolute;
        left: 0%;
        top: 0%;
        fill: var(--primary-white-color);
        border-radius: 20%;
      }
    
    }