.mobile{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    &__button-close{
        position: absolute;
        right: 25px;
        top: 21px;
        background-color: #fff;
        padding: 0%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--tytle-text-color);
        &:hover,
        &:focus{
            fill: var(--accent-color);
        }
    }
    &__nav{
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        
    }
    &__nav-list{
        padding: 0;
        margin: 0%;

    }
    &__nav-item{
        & + &{
            margin-top: 32px;
        }
       
    }
    &__nav-link{
        color: var(--tytle-text-color);
        &:hover,
        &:focus{
            color: var(--accent-color);
            font-size: 40px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.02em;
            padding: 3px;
        }
    }
    // &__connect{
       
    // }
    &__connect-list{
        display: flex;
        flex-direction: column-reverse;
        margin: 0%;
        gap: 32px;
    }
    &__connect-item{
      
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        
    }
    &__connect-mail{
        color: var(--primary-text-color);
    }
    &__connect-phone{
        
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
    &__social{
        margin-top: 64px;
    }
    &__social-list{
        display: flex;
        flex-wrap: wrap;
        
        
    }
    &__social-item{
        border-right: 1px solid rgba(33, 33, 33, 0.2);

        ;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        // padding: 0 10px;
        padding-right: 10px;
        color: var(--accent-color);
        &:last-child{
            border-right: none;
        }
        & + &{
            padding-left: 10px;
        }
        &:last-child{
            padding-right: 0;
        }
    
    }
    &__social-link{
        color: var(--accent-color);
    }
    @include tablet{
        display: none;
    }
  @include desktop{
    display: none;
  }
}