:root {
    --primary-text-color: #757575;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --tytle-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --fill-space-color: #f5f4fa;
    --bcg-space-color: #2f303a;
    --fill-icon-color: #AFB1B8;
    --border-check-color: rgba(117, 117, 117, 1);
    --border-color: rgba(33, 33, 33, 1);
    --placeholder-color: rgba(117, 117, 117, 0,5);
    --text-link-color: rgba(33, 150, 243, 1);
  }